.ff-title {
  font-family: 'Courgette-Regular';
  color: rgb(250, 120, 166);
  font-style: normal;
  font-weight: 400;
  font-size: 5em;
}

.loading-msg{
    font-size: 20px;
    font-weight: 200;
    color: #666;
    width: 130px;
    margin: 0 auto;
}

.loading-msg:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

#msg-loading-more{
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
