@font-face {
  font-family: 'Courgette-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
}

@@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 300;
}

body { padding-top: 70px; };

.ff-title {
  font-family: 'Courgette-Regular';
  color: rgb(250, 120, 166);
  font-style: normal;
  font-weight: 400;
  font-size: 5em;
}
